.menu-options {
    background: #435d7d;
    position: absolute;
    z-index: 5;
    margin: 7px 0 0 7px;
    min-height: 99%;
    box-shadow: 1px 10px 10px black;
    border-radius: 0 15px 0 0;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.5s;
    div {
        display: flex;
        flex-direction: column;
        i {
            align-self: flex-end;
            color: white;
            font-size: 20pt;
            cursor: pointer;
            margin: 1rem 1rem 0 0;
        }
        p {
            color: white;
            font-size: 14pt;
            word-break: break-all;
            margin: 0;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding: 1rem;
            cursor: pointer;
            display: flex;
            i {
                margin: 0 1rem 0 0;
            }
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s;
}
