<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div class="box">
    <div class="table-margin">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-6 pl-0">
              <h2>Gerenciar <b>Desenvolvedores</b></h2>
            </div>
            <div class="col-6 pr-0">
              <a (click)="devInsert()" class="btn btn-success"><i class="fa fa-plus-circle"></i>
                <span>Adicionar</span></a>
            </div>
          </div>
        </div>
        <table appTableSort class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sexo</th>
              <th>Idade</th>
              <th>Hobby</th>
              <th>Data de Nascimento</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dev of developers">
              <td>{{dev.nome}}</td>
              <td>{{dev.sexo | genre}}</td>
              <td>{{dev.idade}}</td>
              <td>{{dev.hobby}}</td>
              <td>{{dev.datanascimento | date:'dd/MM/yyyy'}}</td>
              <td class="action">
                <a class="edit" (click)="devEdit(dev)"><i class="fa fa-pencil" title="Editar um registro"></i></a>
                <a class="delete" (click)="devDelete(dev._id || '')"><i class="fa fa-trash"
                    title="Deletar um registro"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <div class="footer">
        <input (blur)="devList(1)" (keyDown.Enter)="devList(1)" [(ngModel)]="nameSearch" type="text"
          class="form-control" placeholder="Buscar nome">
        <div class="pagination">
          <ngb-pagination (pageChange)="devList($event)" [page]="page" [pageSize]="pageSize"
            [collectionSize]="collectionSize" [maxSize]="5" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
