.box{
  display: grid;
  grid-template-rows: 1fr 3fr;
  min-height: 10rem;
  .title{
    background-color: #435d7d;
    p{
      color: white;
      text-align: center;
      font-size: 1.5rem;
      margin: 0;
    }
  }
  .body{
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    .btn-action{
      display: flex;
      justify-content: flex-end;
      grid-gap: 1rem;
    }
  }
}
