<app-modal [title]="title">
  <form [formGroup]="form">
    <label>*Nome</label>
    <input [class.input-invalid]="sendInvalidCheck && !form.controls.nome.valid" class="form-control" type="text"
      formControlName="nome">
    <label>*Sexo</label>
    <select class="form-control" [class.input-invalid]="sendInvalidCheck && !form.controls.sexo.valid"
      formControlName="sexo">
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
    <label>*Idade</label>
    <input type="number" class="form-control" [class.input-invalid]="sendInvalidCheck && !form.controls.idade.valid"
      formControlName="idade">
    <label>*Data de Nascimento</label>
    <input type="date" class="form-control"
      [class.input-invalid]="sendInvalidCheck && !form.controls.datanascimento.valid" formControlName="datanascimento">
    <label>*Nível</label>
    <div *ngIf="levelsLoading" class="spinner-border text-info levels-loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <select id="levels-select" *ngIf="!levelsLoading" class="form-control" [class.input-invalid]="sendInvalidCheck && !form.controls.nivel.valid"
      formControlName="nivel">
      <option disabled value="">Selecione o nível...</option>
      <option *ngFor="let level of levels" [value]="level._id">{{level.nivel}}</option>
    </select>
    <label>Hobby</label>
    <input type="text" class="form-control" [class.input-invalid]="sendInvalidCheck && !form.controls.hobby.valid"
      formControlName="hobby">
  </form>

  <div class="btn-action">
    <button class="btn btn-danger" (click)="close()">Cancelar</button>
    <button id="submit-button" class="btn btn-success" (click)="sendSave()">Confirmar</button>
  </div>
</app-modal>