/* You can add global styles to this file, and also import other style files */
.btn-action{
  display: flex;
  justify-content: flex-end;
  grid-gap: 1rem;
}

.input-invalid{
  border-color: red !important;
}
